<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/theme-default/index.css">
    <title>Title</title>
</head>
<body>


<div id="app">
    <el-button @click="gets()">Retrieve</el-button>

    <el-row>
        <el-col :span="24">
            <el-menu theme="dark" default-active="1" class="el-menu-demo" mode="horizontal">
                <el-menu-item index="1">Processing Center</el-menu-item>
                <el-submenu index="2">
                    <template slot="title">Workspace</template>
                    <el-menu-item index="2-1">item one</el-menu-item>
                </el-submenu>
                <el-menu-item index="3">Orders</el-menu-item>
            </el-menu>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="12">
            <div class="grid-content">
                <div class="block">
                  <span class="wrapper">
                    <el-button type="success">Success</el-button>
                    <el-button type="warning">Warning</el-button>
                    <el-button type="danger">Danger</el-button>
                    <el-button type="info">Info</el-button>
                  </span>
                </div>
            </div>
        </el-col>
    </el-row>

    <template>
        <el-table
                :data="tableData"
                border
                style="width: 100%">
            <el-table-column
                    label="LocalAddr"
                    prop="LocalAddr"
                    width="180">
            </el-table-column>
            <el-table-column
                    label="SSHAddr"
                    prop="SshAddr"
                    width="180">
            </el-table-column>
            <el-table-column
                    label="RemoteAddr"
                    prop="RemoteAddr"
                    width="180">
            </el-table-column>
            <el-table-column
                    label="Operations">
                <template scope="scope">
                    <el-button
                            size="small"
                            @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    <el-button
                            size="small"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <!-- Form -->
    <el-button @click="dialogFormVisibleClean(); dialogFormVisible = true">Add New Rule</el-button>

    <el-dialog title="Portforwarding Rule" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="LocalAddr" :label-width="formLabelWidth">
                <el-input v-model="form.localaddr" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="SSHAddr" :label-width="formLabelWidth">
                <el-input v-model="form.sshaddr" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="RemoteAddr" :label-width="formLabelWidth">
                <el-input v-model="form.remoteaddr" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">Cancel</el-button>
    <el-button type="primary" @click="dialogFormVisible = false; put()">OK</el-button>
  </span>
    </el-dialog>
</div>

</body>
<script src="lib/axios.min.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/element-ui.js"></script>
<script src="app.js"></script>

</html>